/.venv/
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
/.pytest_cache/
/.mypy_cache/
build/
dist/
egg-info/
pip-wheel-metadata/
/.cache/
logs/
data/
cache/
exports/
/.DS_Store
.vscode/
.idea/
/.venv/
/.tox/
nginx.conf/
nginx.conf/*
!nginx_custom.conf
/*.pem
/*.key
ssl/
node_modules/
coverage.xml
htmlcov/
/.coverage
*.egg-info/
.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.venv/